html,
body {
  height: 100%;
}

.full-height {
  background-color: #fbeaeb;
  height: 100%;
  position: absolute;
  color: #2f3c7e;
  font-family: cursive;

  .borderToContainer {
    border: 1px solid #2f3c7e;
  }
}

.fittext {
  font-size: 18.8vw;
  line-height: 1;
  text-align: center;
}


.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
  text-align: center;
}

body {
  margin: 0;
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgrey;
}

.fittext {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  font-size: 8vw;
}